@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

.shinybusy, .shinybusy-ready {
 top: 30% !important;
 right: 50% !important;
}

.top-malibu, .top-chardonnay {
 border-top: 3px solid #5165A9 !important;
}

.text-malibu, .text-chardonnay {
 letter-spacing: 1.03px !important;
 color: #212121 !important;
}

.btn-default {
font-family: IBM Plex Sans;
 background: #ffffff !important;
 background: #ffffff !important;
 border: 2px solid #5165A9;
 color: #435b69;
 float: left;
 font-size: 0.82rem;
 font-weight: 400;
 text-transform: initial;
 letter-spacing: 0;
 margin-bottom: 3px;
}

.basic_active {
  color: #ffffff !important;
  background-color: #5165A9 !important;
  border-color: #5165A9 !important;
}


.needed {
 margin-bottom: 9px;
 max-width: 95%;
 text-align: left;
 white-space: normal;
 width: 100%;
 word-wrap: break-word;
}

#ss-connect-dialog a::before {
background: #5165A9 !important;
}


.title-data-select {
    color: #5165A9 !important;
}

.dropdown-action-trigger {
  background-color: #5165A9 !important;
}


.buttons-group {
  background-color: transparent;
  display: flex !important;
  gap: 20px !important;
  padding: 0px !important;
}


.buttons-group .button-container {
  height: 35px !important;
  width: 35px !important;
}


.buttons-group .button-style.active-btn {
  filter: brightness(0.5);
  background-color: #5165A9 !important;
  background: #5165A9 !important;
  color: #5165A9 !important;
}


.buttons-group .button-style.active-btn:hover {
  background-color: #5165A9 !important;
  background: #5165A9 !important;
  color: #5165A9 !important;
}

.button-checkmark {
 display: none;
}

.irs-bar {
    border-top: 1px solid #5165A9 !important;
    border-bottom: 1px solid #5165A9 !important;
    background: #5165A9!important;
}

.irs-from, .irs-to, .irs-single {
    color: #5165A9 !important;
}

.style_section {
    color: #29366d !important;
} 

.selectize-control.single .selectize-input, 
.selectize-control.multi .selectize-input.has-items,
.selectize-control.single .selectize-input {
    border: 1px solid var(--unnamed-color-161616) !important;
    border: 1px solid #161616 !important;
    border-radius: 11px !important;
}
